html,
body {
  background-color: $background-color;
  padding: 0;
  font-family: Raleway, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

h1, a {
  color: $accent-colour;
}

a:hover {
  text-decoration: none;
  color: $foreground-color;
}

p {
  font-size: 1.1em;
}

.navbar {
  margin-bottom: 50px;
}

.content {
  margin-top: 50px;
  margin-bottom: 100px;
}
